img {
  border-radius: 50%;
}


* {box-sizing: border-box}

.container {
  width: 500%;
  height: 10%;
  background-color: #ddd;
}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
}

.html {width: 100%; background-color: skyblue;}
.java {width: 90%; background-color: skyblue;}
.js {width: 100%; background-color: skyblue;}
.sql {width: 100%; background-color: skyblue;}
.php {width: 70%; background-color: skyblue;}
.cn {width: 90%; background-color: skyblue;}
